body {
  padding-top: 56px;
}
#main-separator{
  border-top: 4px solid lightgray;
}
ul{
  list-style: none;
  text-align: left;
}
li{
  font-size: 20px;
  margin-bottom:2px;
}
#nav-link{
  transition: 0.5s;
}
#nav-link:hover{
  width: 150%;
}
#lastNews{
  color: #003C3A;
}
